# Pandas and SQL

Understanding how to use Pandas with SQL for data analysis.


## Introduction
Pandas provides powerful tools to interact with SQL databases. We can use the `sqlite3` library in Python to connect and query SQLite databases, 
or use SQLAlchemy for more robust SQL operations across various database engines.

In this notebook, we will cover:
- Connecting Pandas with SQL databases.
- Reading and writing data between Pandas and SQL.
- Executing SQL queries using Pandas.
- Performing SQL-like operations in Pandas.

Let's begin!

In [ ]:

import pandas as pd
import sqlite3

# Create an in-memory SQLite database
conn = sqlite3.connect(':memory:')

# Sample data
data = {'id': [1, 2, 3], 'name': ['Alice', 'Bob', 'Charlie'], 'age': [25, 30, 35]}

# Create DataFrame
df = pd.DataFrame(data)

# Write DataFrame to SQL table
df.to_sql('people', conn, index=False, if_exists='replace')

# Read from SQL table into a new DataFrame
df_sql = pd.read_sql('SELECT * FROM people', conn)
df_sql


## SQL Operations in Pandas

Pandas allows us to perform SQL-like operations using built-in methods:

- `query()`: Filtering data using SQL-like expressions.
- `merge()`: Performing SQL-style JOIN operations.
- `groupby()`: Aggregating data like SQL GROUP BY.

In [ ]:

# Using query() to filter rows
df_filtered = df.query('age > 25')

# Using merge() to simulate a SQL JOIN
extra_data = pd.DataFrame({'id': [1, 2, 3], 'salary': [50000, 60000, 70000]})
df_merged = df.merge(extra_data, on='id', how='left')

# Using groupby() to aggregate data
df_grouped = df.groupby('age').count()

df_filtered, df_merged, df_grouped


## Exercises

1. Create a new table in the SQLite database and insert sample employee records.
2. Write an SQL query to select employees older than 28.
3. Perform a SQL-style join between two tables using Pandas.
4. Use `groupby()` to find the average salary by age.

Try implementing these exercises in the code cells below!

In [ ]:
# Write your code here